<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>email</th>
            <th>Username</th>
            <!-- <th>Edit</th> -->
        </tr>
        <% for (user of users) { %> 
            <tr>
                <td> <%= user.id %> </td>
                <td> <%= user.email %> </td>
                <td> <%= user.username %> </td>
                <!-- <td><button>Edit</button></td> -->
               <td>
                <form method="GET" action="/user/<%= user.id %>/edit">
                    <button>Edit username</button>
                </form>
                </td>
                <td><form method="POST" action="/user/<%= user.id %>?_method=DELETE">
                    <button>DELETE</button>
                </form></td>
        <% } %>
    </table>
</body>
</html>


